// Import Foundation
@import "../../../common/foundation/sass/settings";
@import "../../../frameworks/foundation"; 
@import "../../../common/foundation/sass/general_foundicons"; 

body, html {
  height: 100%;
}

#mast-head {
	h3,ul {
		margin:0;
		padding:0;
	}
	h3 {
		font-size:1em; 
	}
}

.tree-icons {
	text-align:center;
	i {
		font-size:1.4em;
	}
	padding:14px 0 8px 0;
	background:white;
}
 
#page {
  max-width: 100%;
  width: 100%;
  overflow: none;
  height:100%;
  > aside {
    overflow-y: scroll;
    height: 100%;
    border-right: 1px solid #dbdbdb;
    padding: 0;
  }

  > section {
    overflow-y: scroll;
    height: 100%;
  }
	
}

.top-bar {
	margin-bottom:0;
}

#sidebar {
	background:$section-title-bg;
}

.section {
  .actions {
    display: none;

    background-color: #eaeaea;
    padding: .25em .5em;
  }

  &.active {
    .actions {
      display: block;
    }
  }
}
